doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    block styles
  body
    div.container
      block content
    script(src="/js/popper") 
    script(src='/js/bootstrap.min.js')
    

