extends ./layout
block content
    div
        nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
            div.container-fluid
                a.navbar-brand(href='/home') Asistencia ULP
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                div#navbarNavDropdown.collapse.navbar-collapse
                    ul.navbar-nav          
                        li.nav-item.dropdown
                            a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='/home', role='button', data-bs-toggle='dropdown', aria-expanded='false') Materias
                            ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                                li
                                    a.dropdown-item(href="/home/verMateriasRegistradas") Ver materias registradas
                        li.nav-item.dropdown
                            a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='/home', role='button', data-bs-toggle='dropdown', aria-expanded='false') Asistencia
                            ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                                li
                                    a.dropdown-item(href="/home/verMateriasRegistradas") Nueva asistencia
                form(action="/logout", method="post")
                    input(type="submit", value="Cerrar sesion", class="btn btn-danger btn-sm")
    block page