extends ../layoutProfesores
block page
    div 
        div
            h3.mt-3 Materias asignadas:
            table(class= "table table-striped")
                tr 
                    th Materia 
                    th Fecha inicio
                    th Fecha fin
                    th 
                    th
                    th
                    th
                each materia in materias
                    tr
                        td #{materia.materia.nombre_materia}
                        td #{materia.materia.fecha_inicio_cursada}
                        td #{materia.materia.fecha_fin_cursada}
                        td
                            a.btn.btn-outline-warning.btn-sm(href="/home/gestionHorarioVista/"+materia.id_materia) Gestion horarios
                        td
                            a.btn.btn-outline-primary.btn-sm(href="/home/validarAlumnos/"+materia.id_materia) Validar alumnos
                        td
                            a.btn.btn-outline-info.btn-sm(href="/home/consultarAsistencia/"+materia.id_materia) Consultar asistencia
                        td
                            a.btn.btn-outline-secondary.btn-sm(href="/home/exportarAsistencia/"+materia.id_materia) Exportar asistencia
            if materias.length == 0
                p.text-center No existen materias asignadas.