extends ../layoutProfesores
block page
    div 
        div
            h3.mt-3 Materias asignadas:
            table(class= "table table-striped")
                tr 
                    th Materia 
                    th Fecha inicio
                    th Fecha fin
                    th 
                    th
                    th
                each materia in materias
                    tr
                        td #{materia.materia.nombre_materia}
                        td #{moment(materia.materia.fecha_inicio_cursada).format('DD-MM-YYYY')}
                        td #{moment(materia.materia.fecha_fin_cursada).format('DD-MM-YYYY')}
                        if moment().isBetween(moment(materia.materia.fecha_inicio_cursada),moment(materia.materia.fecha_fin_cursada),'day','[]')
                            td
                                a.btn.btn-outline-warning.btn-sm(href="/home/gestionHorario/"+materia.id_materia) Gestion horarios
                            td
                                a.btn.btn-outline-primary.btn-sm(href="/home/validarAlumnos/"+materia.id_materia) Validar alumnos
                        else 
                            td
                                span.badge.text-bg-danger La materia terminó.
                            td
                                span.badge.text-bg-danger La materia terminó.
                        td
                            a.btn.btn-outline-secondary.btn-sm(href="/home/consultarAsistencia/"+materia.id_materia) Consultar asistencia
            if materias.length == 0
                p.text-center No existen materias asignadas.